@use 'vars' as *;
@use 'sass:color';

.app-notification {
  padding: 10px;
  color: #{$fg};
  background-color: #353535;
  background-clip: border-box;
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #1c1c1c; }
  .app-notification border {
    border: none; }
  .app-notification button {
    color: #{$fg};
    border-color: rgba(22, 22, 22, 0.4);
    background-color: rgba(109, 109, 109, 0.4); }
    .app-notification button.flat {
      border-color: #{$accent-trans}; }
    .app-notification button:hover {
      color: #{$fg};
      border-color: rgba(22, 22, 22, 0.4);
      background-color: rgba(127, 127, 127, 0.5); }
    .app-notification button:active, .app-notification button:checked {
      color: #{$fg};
      border-color: rgba(22, 22, 22, 0.4);
      background-color: rgba(0, 0, 0, 0.15);
      background-clip: padding-box; }
    .app-notification button:disabled {
      color: #{$bg-muted};
      border-color: rgba(22, 22, 22, 0.4);
      background-color: rgba(109, 109, 109, 0.25); }

expander {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
  expander:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
  expander:hover {
    color: #{$fg-high}; }
  expander:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

expander-widget > box > title {
  outline-color: rgba($fg, 0.3);
  outline-style: dashed;
  outline-offset: -3px; }

expander-widget:focus:focus-visible > box > title {
  outline-width: 1px; }

expander-widget > box > title {
  border-radius: 3px; }
  expander-widget > box > title:hover > expander {
    color: #{$fg-high}; }

.navigation-sidebar:not(decoration):not(window):drop(active):focus, .navigation-sidebar:not(decoration):not(window):drop(active),
placessidebar:not(decoration):not(window):drop(active):focus,
placessidebar:not(decoration):not(window):drop(active),
stackswitcher:not(decoration):not(window):drop(active):focus,
stackswitcher:not(decoration):not(window):drop(active),
expander-widget:not(decoration):not(window):drop(active):focus,
expander-widget:not(decoration):not(window):drop(active) {
  box-shadow: none; }

calendar {
  color: #{$fg-high};
  border: 1px solid #{$bg-darker};
  border-radius: 3px;
  padding: 2px; }
  calendar > header {
    color: #{$fg-high};
    border: none; }
    calendar > header > button {
      color: #{color.change($fg, $alpha: 0.5)}; }
      calendar > header > button:hover {
        color: #{$fg-high}; }
      calendar > header > button:active {
        color: #{$accent}; }
      calendar > header > button:disabled {
        color: #{$fg-low}; }
  calendar > grid > label:focus {
    background-color: rgba(0, 0, 0, 0.1); }
  calendar > grid > label.day-number {
    padding: 4px;
    border-radius: 3px; }
    calendar > grid > label.day-number:selected {
      background-color: rgba(0, 0, 0, 0.15); }
  calendar > grid > label.day-number.other-month {
    opacity: 0.3; }

.dialog-action-area {
  margin: 6px; }
  .dialog-action-area button.text-button {
    padding: 6px 16px; }
  .dialog-action-area button {
    border-radius: 0;
    border-right-style: none; }
    .dialog-action-area button:first-child {
      border-radius: 3px 0 0 3px;
      border-right-style: none; }
    .dialog-action-area button:last-child {
      border-radius: 0 3px 3px 0;
      border-style: solid; }

window.dialog.message .titlebar {
  min-height: 20px;
  background-image: none;
  background-color: #{$bg-darkest};
  border-bottom: 1px solid #111113;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

window.dialog.message .dialog-action-area button {
  padding: 8px;
  min-height: 0; }

window.dialog.message box.dialog-vbox.vertical {
  padding-top: 10px;
  border-spacing: 10px; }

window.dialog.message label.title {
  font-weight: 800;
  font-size: 15pt; }

window.dialog.message.csd.background {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none; }

window.dialog.message.csd .dialog-action-area button {
  border-radius: 0;
  border-bottom-style: none;
  border-right-style: none; }
  window.dialog.message.csd .dialog-action-area button:first-child {
    border-bottom-left-radius: 2px;
    border-left-style: none; }
  window.dialog.message.csd .dialog-action-area button:last-child {
    border-bottom-right-radius: 2px; }

filechooser .dialog-action-box {
  border-top: 1px solid #{$bg-darker}; }

filechooser #pathbarbox {
  background-color: #{$bg-darkest};
  border-bottom: 1px solid #{$bg-darker}; }

filechooserbutton > button > box {
  border-spacing: 6px; }

filechooserbutton:drop(active) {
  box-shadow: none;
  border-color: transparent; }

.sidebar {
  border-style: none;
  background-color: #{$bg-subtle}; }
  .sidebar:not(separator):dir(ltr), .sidebar:not(separator).left, .sidebar:not(separator).left:dir(rtl) {
    border-right: 1px solid #{$bg-darker};
    border-left-style: none; }
  .sidebar:not(separator):dir(rtl), .sidebar:not(separator).right {
    border-left: 1px solid #{$bg-darker};
    border-right-style: none; }
  .sidebar listview.view,
  .sidebar list {
    background-color: #{$bg}; }
  paned .sidebar.left, paned .sidebar.right, paned .sidebar.left:dir(rtl), paned .sidebar:dir(rtl), paned .sidebar:dir(ltr), paned .sidebar {
    border-style: none; }

stacksidebar list.separators:not(.horizontal) > row:not(.separator) {
  border-bottom: none; }

stacksidebar row {
  padding: 10px 4px; }
  stacksidebar row {
    outline-color: rgba($fg, 0.3);
    outline-style: dashed;
    outline-offset: -3px; }
  stacksidebar row:focus:focus-visible {
    outline-width: 1px; }
  stacksidebar row > label {
    padding-left: 6px;
    padding-right: 6px; }
  stacksidebar row.needs-attention > label {
    background-size: 6px 6px, 0 0; }
  stacksidebar row:hover {
    background-color: rgba(255, 255, 255, 0.03); }
  stacksidebar row:selected {
    background-color: #{$accent};
    border-radius: 0;
    color: #FFFFFF; }
  stacksidebar row:selected:hover:dir(ltr), stacksidebar row:selected:hover:dir(rtl) {
    background-color: #65686e; }

separator.sidebar {
  background-color: #{$bg-darker}; }
  .titlebar separator.sidebar {
    background-color: #{$bg-darkest};
    margin: 0; }

.navigation-sidebar {
  padding: 0; }
  .navigation-sidebar > separator {
    margin: 0; }
  .navigation-sidebar > row {
    min-height: 36px;
    padding: 0 8px;
    border-radius: 0;
    margin: 0 0 2px; }
    .navigation-sidebar > row {
      outline-color: rgba($fg, 0.3);
      outline-style: dashed;
      outline-offset: -3px; }
    .navigation-sidebar > row:focus-visible:focus-within {
      outline-width: 1px; }
    .navigation-sidebar > row:hover {
      background-color: rgba(255, 255, 255, 0.03); }
    .navigation-sidebar > row:selected {
      background-color: #{$accent};
      color: #FFFFFF; }
      .navigation-sidebar > row:selected:hover {
        background-color: #65686e; }
    .navigation-sidebar > row:disabled {
      color: #{$fg-low}; }

row image.sidebar-icon {
  opacity: 0.7; }

/* this should be more generic, only using .navigation-sidebar
   https://gitlab.gnome.org/GNOME/gtk/-/issues/2929
*/
placessidebar .navigation-sidebar > row {
  padding: 0; }
  placessidebar .navigation-sidebar > row > revealer {
    padding: 0 10px; }
  placessidebar .navigation-sidebar > row image.sidebar-icon:dir(ltr) {
    padding-right: 8px; }
  placessidebar .navigation-sidebar > row image.sidebar-icon:dir(rtl) {
    padding-left: 8px; }
  placessidebar .navigation-sidebar > row label.sidebar-label:dir(ltr) {
    padding-right: 2px; }
  placessidebar .navigation-sidebar > row label.sidebar-label:dir(rtl) {
    padding-left: 2px; }
  button.sidebar-button {
    min-height: 22px;
    min-width: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
    border-radius: 100%; }
  placessidebar .navigation-sidebar > row.sidebar-placeholder-row {
    padding: 0 8px;
    min-height: 2px;
    background-image: image(#{$accent});
    background-clip: content-box; }
  placessidebar .navigation-sidebar > row.sidebar-new-bookmark-row {
    color: #{$accent}; }
  placessidebar .navigation-sidebar > row:drop(active):not(:disabled) {
    color: #{$accent};
    box-shadow: inset 0 1px #{$accent}, inset 0 -1px #{$accent}; }
    placessidebar .navigation-sidebar > row:drop(active):not(:disabled):selected {
      color: #FFFFFF;
      background-color: #{$accent}; }

placesview .server-list-button > image {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -gtk-icon-transform: rotate(0turn); }

placesview .server-list-button:checked > image {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -gtk-icon-transform: rotate(-0.5turn); }

placesview > actionbar > revealer > box > box {
  border-spacing: 6px; }

paned > separator {
  min-width: 1px;
  min-height: 1px;
  -gtk-icon-source: none;
  border-style: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #{$bg-darker}, #{$bg-darker});
  background-size: 1px 1px; }
  paned > separator:selected {
    background-image: linear-gradient(to bottom, #{$accent}, #{$accent}); }
  paned > separator.wide {
    min-width: 5px;
    min-height: 5px;
    background-color: transparent; }

paned.horizontal > separator {
  background-repeat: repeat-y;
  margin: 0 -3px 0 -3px;
  padding: 0 3px 0 3px;
  background-position: center; }
  paned.horizontal > separator.wide {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: -gtk-scaled(url("assets/pane-separator-vertical.png"), url("assets/pane-separator-vertical@2.png"));
    background-size: 2px 24px; }

paned.vertical > separator {
  margin: -3px 0 -3px 0;
  padding: 3px 0 3px 0;
  background-repeat: repeat-x;
  background-position: center; }
  paned.vertical > separator.wide {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: -gtk-scaled(url("assets/pane-separator.png"), url("assets/pane-separator@2.png"));
    background-size: 24px 2px; }

infobar {
  border-style: none; }
  infobar.info, infobar.question, infobar.warning, infobar.error {
    background-color: #{$accent};
    color: #FFFFFF;
    caret-color: currentColor; }
    infobar.info selection, infobar.question selection, infobar.warning selection, infobar.error selection {
      color: #{$accent};
      background-color: #FFFFFF; }
    infobar.info:disabled label, infobar.info:disabled image, infobar.question:disabled label, infobar.question:disabled image, infobar.warning:disabled label, infobar.warning:disabled image, infobar.error:disabled label, infobar.error:disabled image {
      color: rgba(255, 255, 255, 0.5); }
  infobar.warning {
    background-color: #{$warning}; }
  infobar.error {
    background-color: #{$error}; }
  infobar.question {
    background-color: #55C1EC; }

video {
  background: black; }
  video image.osd {
    min-width: 64px;
    min-height: 64px;
    border-radius: 32px; }

headerbar.selection-mode button:hover, row:selected button, infobar.info button, infobar.question button, infobar.warning button, infobar.error button {
  color: #FFFFFF;
  background-color: #{$fg-transparent};
  border-color: rgba(255, 255, 255, 0.5); }

row:selected button.flat, infobar.info button.flat, infobar.question button.flat, infobar.warning button.flat, infobar.error button.flat {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #FFFFFF;
  background-color: #{$fg-transparent}; }
  headerbar.selection-mode button:disabled, headerbar.selection-mode button:disabled label, row:selected button.flat:disabled, infobar.info button.flat:disabled, infobar.question button.flat:disabled, infobar.warning button.flat:disabled, infobar.error button.flat:disabled, row:selected button.flat:disabled label, infobar.info button.flat:disabled label, infobar.question button.flat:disabled label, infobar.warning button.flat:disabled label, infobar.error button.flat:disabled label {
    color: rgba(255, 255, 255, 0.4); }

row:selected button:hover, infobar.info button:hover, infobar.question button:hover, infobar.warning button:hover, infobar.error button:hover {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.8); }

headerbar.selection-mode button:active, headerbar.selection-mode button:checked, row:selected button:active, infobar.info button:active, infobar.question button:active, infobar.warning button:active, infobar.error button:active, row:selected button:checked, infobar.info button:checked, infobar.question button:checked, infobar.warning button:checked, infobar.error button:checked {
  color: #{$accent};
  background-color: #FFFFFF;
  border-color: #FFFFFF; }

row:selected button:disabled, infobar.info button:disabled, infobar.question button:disabled, infobar.warning button:disabled, infobar.error button:disabled {
  background-color: #{$fg-transparent};
  border-color: rgba(255, 255, 255, 0.4); }
  row:selected button:disabled, infobar.info button:disabled, infobar.question button:disabled, infobar.warning button:disabled, infobar.error button:disabled, row:selected button:disabled label, infobar.info button:disabled label, infobar.question button:disabled label, infobar.warning button:disabled label, infobar.error button:disabled label {
    color: rgba(255, 255, 255, 0.5); }
  headerbar.selection-mode button:disabled:checked, headerbar.selection-mode button:disabled:active, row:selected button:disabled:active, infobar.info button:disabled:active, infobar.question button:disabled:active, infobar.warning button:disabled:active, infobar.error button:disabled:active, row:selected button:disabled:checked, infobar.info button:disabled:checked, infobar.question button:disabled:checked, infobar.warning button:disabled:checked, infobar.error button:disabled:checked {
    color: #{$accent};
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.4); }
